@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
}
html{
  padding: 0;
  margin: 0;
}

#root{
  min-height: 100vh;
  min-width: 100vh;
  background-color: #fafafa;
  font-family: 'Roboto';
}

main {
  display:flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 0;
}
#upper-container{
  /* background-color: pink; */
  margin-top: 70px;
  text-align: center;
  max-width:270px;
}
#lower-container{
  margin-top: 60px;
  font-size: 0.9em;
}
#register-info{
  font-weight: bold;
  color: #8e8e8e;
  font-size: 1.1em;
}
#register-terms{
  color: #8e8e8e;
  font-size: 0.75em;
  margin-top: 20px;
}
#signup-btn{
  background-color: #0095f6;
  color: white;
  font-weight: bold;
  border:none;
  font-size: 0.9em;
  width: 100%;
  padding: 7px 0;
  border-radius:5px;
}
#login-link {
  color: #0095f6;
  text-decoration: none;
}
.router-link{
  text-decoration: none;
}