@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
}
html{
  padding: 0;
  margin: 0;
}

#root{
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fafafa;
  font-family: 'Roboto';
}

.router-link{
  text-decoration: none;
}
.input-error {
  color: #ee2d3e;
  position: absolute;
  font-size: 1.4em;
  right: 10px;
  top: 7px;
}
.input-success {
  color: #a6a8ab;
  position: absolute;
  font-size: 1.4em;
  right: 10px;
  top: 7px;
}